@tailwind base;
@tailwind components;

@tailwind utilities;

:root {
  --bgNavbar: rgb(21, 67, 96);
  --bgHoverButtonLogin: rgb(31, 97, 141);
}

.navBar {
  background-color: var(--bgNavbar);
}
.borderInput {
  /* color: var(--bgNavbar); */
  border-color: var(--bgNavbar);
}
.labelLogin {
  color: var(--bgNavbar);
}
.bgButton {
  background-color: var(--bgNavbar);
  color: white;
}
.loginButton:hover {
  background-color: var(--bgHoverButtonLogin);
}
.waveBg {
  /* background-color: var(--bgHoverButtonLogin); */
  fill: var(--bgHoverButtonLogin);
}

/* 



   

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
